.btn-blue{

    color: #fff;
    background-color: #308ee0;
    border-color: #308ee0;
    font-size: .875rem !important;
    /* line-height: 24px !important; */
    padding: 7px 10px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.btn:hover,.btn:active{

        /* -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.1); */
        -khtml-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.1);
        /* box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.1); */

}

.form-controller{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.56rem 1.375rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-linkable{
    color: #0289c1;
    cursor: pointer;
}

